/* google font   */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');

/* common style  */
body {
    margin: 0 auto;
    padding: 0%;
    font-family: 'Ibarra Real Nova', serif;
}



/* banner section style  */

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}






.banner {
    width: 800px;
    height: 400px;
    background-color: rgb(12, 12, 12);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 100px;
    border-radius: 30px;
    transition: width 2s linear;
}



.banner-section:hover .banner {
    background-color: white;
    width: 1500px;
    background-image: url(assets/players.jpg);
    background-repeat: no-repeat;
}


.banner-section:hover .banner-info {
    display: none;
}

.banner-section:hover .hover {
    display: none;
}

.banner-section:hover .banner p {
    color: white;
}

.banner-info h1 {
    font-size: 50px;
    font-weight: 700;
    color: aliceblue;
}

.banner-info p {
    color: aliceblue;
}

.banner-info a {
    text-decoration: none;
    background-color: rgb(240, 6, 6);
    padding: 5px;
    border-radius: 4px;
    color: azure;
}

/* blog section style  */
.blog-live-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    column-gap: 20px;
    margin-top: 100px;
    margin-left: 50px;

}

.blog-section {
    display: flex;
    margin-left: 20px;
}


.button-potion {

    background-color: black;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    border-radius: 5px;
    margin-top: 100px;

}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding-top: 40px;
}

.button {
    height: 20px;
    width: 150px;
    background-color: aliceblue;
    padding: 8px;
    padding-top: 2px;
    border-radius: 5px;
    margin-left: 15px;
    text-align: center;
}

.blog-button {
    background-color: rgb(230, 8, 8);

}


.button a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}

.blog-button a {
    color: white;
}

.live-match {
    box-shadow: 10px 10px 10px 10px rgb(243, 231, 231);

}

.blog-image {
    text-align: center;

}

.live-match .player-image {
    width: 100%;
}

.live-match h4,
button,
i {
    margin-left: 5px;
    margin-bottom: 4px;
}

.blog-image img {
    height: 220px;
    width: 320px;
}

.tab-button {
    text-align: center;
    margin-top: 40px;
    display: none;
}

.tab-button a {
    background-color: rgb(180, 10, 10);
    text-decoration: none;
    font-size: 35px;
    color: white;
    padding: 7px;
    border-radius: 10px;
    margin-top: 50px;

}

/* footer section style  */

.footer-section {
    background-color: black;
    height: 200px;
    width: 100%;
    margin-top: 200px;
}

footer h1 {
    color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

footer hr {
    width: 750px;
    border-color: grey;
    margin-bottom: 20px;

}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px;


}

.footer-link {
    text-align: center;

}

.social-icon {
    margin-top: 20px;
    font-size: 20px;

}

/* Mobile devices style  */
@media only screen and (max-width:667px) {

    body {
        width: 100%;
    }

    .banner-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

    }

    .banner:hover {
        background-color: rgb(246, 248, 248);
        width: 150px;
        background-image: url(assets/players.jpg);
        background-repeat: no-repeat;
    }

    .banner {
        width: 320px;
        height: 778px;
        background-color: rgb(12, 12, 12);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-left: 100px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
    }

    .banner-info {
        margin-right: 60px;
    }


    .banner-info a {
        text-decoration: none;
        background-color: rgb(240, 6, 6);
        padding: 1px;
        border-radius: 4px;
        color: azure;


    }


    .banner-info p {
        margin-top: 2px;
        margin-bottom: 2px;


    }

    .blog-live-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 20px;
        margin-top: 100px;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding-top: 40px;

    }

    .button-potion {

        background-color: white;
        height: 200px;
        width: 100%;
        margin-left: 0px;

        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .button {
        height: 40px;
        width: 150px;
        background-color: rgb(189, 204, 218);
        padding: 18px;
        padding-top: 20px;
        border-radius: 5px;
        margin-left: 15px;
        text-align: center;
    }

    .blog-button {
        background-color: rgb(230, 8, 8);

    }

    .live-match {
        margin-right: 70px;
        text-align: left;

    }

    .footer-section {
        background-color: black;
        height: 450px;
        width: 100%;
        margin-top: 200px;

    }

    footer a {
        text-decoration: none;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    footer hr {
        width: 100%;
        border-color: grey;
        margin-bottom: 20px;

    }

    .social-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        font-size: 20px;

    }

    /* mobile devices for second page  */
    .blog-live-section {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

}

/* tablet devices style  */
@media only screen and (min-width:667px) and (max-width:992px) {

    .banner {
        width: 650px;
        height: 625px;
        background-color: rgb(12, 12, 12);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding-left: 100px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .button-potion {

        background-color: white;
        height: 200px;
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        justify-content: center;

    }

    .blog-live-section {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 30px;
        margin-top: 100px;
        justify-items: center;
        margin-left: 0;



    }

    .buttons {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding-top: 80px;

        padding: 100px;

    }

    .button {
        height: 40px;
        width: 150px;
        background-color: rgb(64, 137, 206);

        padding-top: 20px;
        border-radius: 5px;
        margin-left: 15px;

    }

    .blog-button {
        background-color: rgb(230, 8, 8);

    }

    .tab-button {
        display: flex;
        justify-content: center;
    }

    .footer-section {
        background-color: black;
        height: 300px;
        width: 100%;
        margin-top: 200px;

    }

    footer a {
        text-decoration: none;
        color: white;
        padding: 30px;


    }




}